/*!
Theme Name: Famous Insurance
Theme URI: http://underscores.me/
Author: Parable Productions
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: famous-insurance
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready
*/

/* Text meant only for screen readers. */

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
    /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */

#content[tabindex="-1"]:focus {
    outline: 0;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
    margin: 0 0 1.5em;
    /* Make sure select elements fit in widgets. */
}

.widget select {
    max-width: 100%;
}

.widget-bg {
    background: #ba242a;
}

.sidebar-1 a {
    color: #fff !important;
    text-align: center;
}

.sidebar-1 h3 {
    color: #fff !important;
    text-align: center;
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/

.sticky {
    display: block;
}

.hentry {
    margin: 0 0 1.5em;
}

.updated:not(.published) {
    display: none;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/

.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

#comments {
    display: none;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/

.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}

.wp-caption-text {
    text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/

.gallery {
    margin-bottom: 1.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    display: block;
}

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/

body {
    font-family: "Montserrat", sans-serif;
}

section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.btn {
    border-radius: 0rem;
}

.section-red {
    background-color: #ba242a;
    color: #ffffff;
    background-image: url(http://dev.famousinsurance.com.au/wp-content/themes/famous-insurance/assets/img/famous-red-bg.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.italic {
    font-family: "Italianno", cursive;
}

.hr-white {
    border: 1px solid #ffffff;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1rem;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

img {
    width: 100%;
    display: block;
}

.no-padding-top {
    padding-top: 0rem !important;
}

.title {
    font-size: 1.6rem;
}

ul {
    list-style-type: none;
}

/* Homepage */

.page-hero {
    padding-top: 0px !important;
    height: 30rem;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

.bg-grey {
    background-color: #f3f3f3;
}

.quote-form .form-control {
    width: 100% !important;
    border-radius: 0rem;
    border: transparent;
    padding: 0.65rem 0.75rem;
    font-weight: 300;
}

.form-control {
    width: 100% !important;
    border-radius: 0rem;
    border: 1px solid #000;
}

.white-border {
    border: 1px solid #fff !important;
}

.black-border {
    border: 1px solid #000 !important;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

.mainnav {
    background-color: #ba242a;
    padding-top: 0rem;
    padding-bottom: 0rem;
}

a.nav-link {
    color: #000;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #cd1719;
    background-color: #ffffff !important;
}

a.ubermenu-responsive-toggle.ubermenu-responsive-toggle-main.ubermenu-skin-none.ubermenu-loc-menu-1.ubermenu-responsive-toggle-content-align-left.ubermenu-responsive-toggle-align-full {
    color: #fff;
}

#ubermenu-nav-main-2-menu-1 {
    text-align: center;
}

span.pages {
    font-weight: 300 !important;
    margin-right: 20px;
}

span.current {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 4px;
    padding-top: 4px;
    margin: 3px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    background: #ba242a;
    color: #fff;
}

.wp-pagenavi a,
.wp-pagenavi span {
    text-decoration: none;
    border: none;
    padding: 3px 5px;
    margin: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 4px;
    padding-top: 4px;
}

a.page-numbers {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 4px;
    padding-top: 4px;
    margin: 3px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    color: #ba242a;
}

.menu-quote {
    display: none;
}
@media (max-width: 959px) {
    .menu-quote {
        float: right !important;
        color: #fff !important;
        display: inherit;
        padding: 15px 20px;
    }
}

/*--------------------------------------------------------------
# Font Styles
--------------------------------------------------------------*/

a {
    color: #ba242a;
}

a:hover,
a:active,
a:focus {
    color: #ba242a;
}

.text-red {
    color: #ba242a !important;
}

.font-light {
    font-weight: 300;
}

.font-med {
    font-weight: 400;
}

.font-semi {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

.font-xbold {
    font-weight: 800;
}

.text-stroke {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.xsmall {
    font-size: 0.5rem;
}

/*--------------------------------------------------------------
# Font Awesome
--------------------------------------------------------------*/

.fa-circle {
    color: #ba242a;
}

/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
.request-quote {
    background-color: #0f7215 !important;
}

.btn-quote {
    color: #fff;
    background-color: #ba242a;
    border: none;
    padding: 1em 2.5em 1em 2.5em;
}

a.btn-quote {
    color: #fff !important;
}

.btn-dark {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

.insurance-icon {
    color: #000;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.img-logo {
    width: 60%;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

footer {
    background-color: #323232;
    color: #ffffff;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

footer a {
    color: #ffffff;
}

footer a:hover,
footer a:active {
    color: #ffffff;
}

.footer-social .fa-layers {
    color: #ffffff;
}

.footer-social .fa-layers:hover,
.footer-social .fa-layers:active {
    color: #ffffff;
}

.footer-social .fa-facebook-f,
.footer-social .fa-twitter,
.footer-social .fa-youtube,
.footer-social .fa-instagram {
    color: #323232;
}

/* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-track {
    margin: 0 auto;
}

.slick-slide img {
    width: 100%;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: "";
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
    text-align: center;
}

[dir="rtl"] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

.customer-logos {
    display: none;
}

/*--------------------------------------------------------------
# Nathan's Input
--------------------------------------------------------------*/

html,
body {
    overflow-x: hidden;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

/* Multi Select Search */

#viewing-list {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
}

#viewing-list li {
    border: 1px solid #c8c8c8;
    margin-bottom: 14px;
    position: relative;
    display: table;
    width: 100%;
    cursor: pointer;
    transition: all 0.15s ease;
    -webkit-transition: all 0.15s ease;
    padding: 1.2rem;
}

#viewing-list li a {
    font-size: 22px;
    color: #343434;
    display: block;
    position: relative;
    display: table-row;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
}

#viewing-list li a span {
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
}

#viewing-list li.active {
    border-color: #151515;
    background: #151515;
    color: #fff;
}

#viewing-list li.active img {
    margin-right: 40px;
}

#viewing-list li.active a span {
    color: #fff;
}

#viewing-list li:hover {
    border-color: #151515;
}

/* Glasses Guide Search */

.guidefilter-results {
    height: 300px;
    overflow-x: scroll;
}

.guidefilter-results a {
    color: #000;
}

.nav-links {
    display: none;
}

.intro {
    width: auto;
    float: right;
}
